/* home */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.bod{
   
    background: #51e2f5;
    font-family: "Nunito";
}   
.nav-item{
    font-size: 1.5rem;
    font-weight: lighter;

}

#BRAND  {
    color:#ea1c2c;
    font-size: 1.5rem;
    font-weight: lighter;
    
 -webkit-transition: 0.5s ease-in-out;
 transition: 0.5s ease-in-out;
}
#BRAND:hover{
    transform: scale(1.2);
    transition: transform 0.5s; /* Animation */
}
#itemsOfNav .nav-link{
    color: white;
    
 -webkit-transition: 0.5s ease-in-out;
 transition: 0.5s ease-in-out;
}

#itemsOfNav .nav-link:hover{
    color:#ea1c2c;
    transform: scale(1.2);
    transition: transform 0.5s; /* Animation */
}

span{
    color:#ea1c2c;
}

#head h2{
    margin-top: 200px;
    font-size: 3.9rem;
    font-weight: 100;
    
}

#head :hover{
    transform: scale(1.2);
  transition: transform 0.5s; /* Animation */
}
/* button */

.button{
  
    font-size:1.5rem;
    border:2px solid white;
    border-radius:100px;
    width:100px;
    height:40px;
    padding:5px;
    margin: 10% auto;
    transition: .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   
  }
  
  .icon{
   position: relative;
    top: 50%;
    transform: translateY(-50%);
   text-align:center;
    
  }
   .button:hover{
    width:145px;
    background-color: white;
     box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    color: blue;
    transition:0.3s;
  }
  
  .button:active{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    transition: .05s
  }
  #main-footer{
      margin-top: 20px;;
  }

  /* page*/
  #borr{
      margin: 0;
      padding: 0;
     width: fit-content;   
      border: 2px #ea1c2c;
      border-style: double;
    margin-left: 34%;
      
  }
  .navbar.scrolledd {
    background: rgb(222,192,222);
    transition: background 500ms;
}